# Python
__pycache__/
*.pyc]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# AWS SAM
.aws-sam/
packaged.yaml
packaged.yml

# Other
.DS_Store
